@import "../../styles//variables";
@import "../../styles/mixins";

.marquee {
  margin-top: 1rem;
  overflow: hidden;
  background-color: $primaryBlackColor;
  color: $backgroundColor;
  display: flex;
  align-items: center;
  height: 2rem;

  span {
    font-size: 1em;
    white-space: nowrap;
    text-transform: uppercase;
  }
}
