@import "../../styles/variables";
@import "../../styles/mixins";

.auth-button {
  margin-top: 1rem;
  border: 1px solid $primaryBlackColor;
  border-radius: 4px;
  height: 4rem;
  font-size: 1.2rem;
  line-height: 2.4rem;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
  color: $primaryBlackColor;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(tablet, max) {
    height: 2.9rem;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  &__icon-google {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    margin-top: -1px;
    margin-right: 0.7rem;

    svg {
      width: 2rem;
      height: 2rem;

      @include mq(tablet, max) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  // &__text {
  //   //margin-left: 1rem;
  // }

  &:hover {
    background-color: $primaryBlackColor;
    color: $backgroundColor;
  }
}
