$color-main: #f8f3df;
$color-black: #000000;
$color-orange: #ef445c;
$color-grey: #e9e9e9;

.filters-container {
  display: block;

  border: 1px solid red;

  &__heading {
    font-size: 0.9375rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 0;
  }

  &__items-wrapper {
    border-bottom: 1px solid $color-grey;
    display: block;
  }

  &__item-row {
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 24px;
    gap: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__item-row input[type="checkbox"] {
    appearance: none;
    border: 1px solid #000;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    position: relative;
    top: 2px;
    cursor: pointer;
  }

  &__item-row input[type="checkbox"]:checked:before {
    content: "\2713";
    font-size: 12px;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 2px;
  }
}

.label {
  font-size: 0.8125rem;
  text-transform: uppercase;
}
