@import "../../styles/variables";
@import "../../styles/mixins";

.filters-container {
  display: block;

  &__heading {
    font-size: 0.9375rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 0;
  }

  &__items-wrapper {
    border-bottom: 1px solid $primaryGreyColor;
    display: block;
  }

  &__item-row {
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 1.5rem;
    gap: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  &__item-row input[type="checkbox"] {
    appearance: none;
    border: 1px solid $primaryBlackColor;
    border-radius: 2px;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
    cursor: pointer;
  }

  &__item-row input[type="checkbox"]:checked:before {
    content: "\2713";
    font-size: 12px;
    line-height: 1;
    color: $primaryWhiteColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primaryBlackColor;
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: 2px;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 10rem;
    background-color: green;
  }
}

.label {
  font-size: 0.8125rem;
  text-transform: uppercase;
}
